font-1-xs {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.35;
    font-family: "Poppins", sans-serif;
}

font-2-xs {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    font-family: "Roboto", sans-serif;
}

font-1-s {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

font-2-s {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

font-1-m {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.35;
    font-family: "Poppins", sans-serif;
}

font-1-m-b {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.35;
    font-family: "Poppins", sans-serif;
}

font-2-m {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.35;
    font-family: "Roboto", sans-serif;
}

font-1-l {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

.font-2-l {
    line-height: 1.5;
    font-family: "Roboto";
    font-weight: 400;
}

.font-2-l-b {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.font-1-xl {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25;
    font-family: "Poppins", sans-serif;
}

.font-1-xl {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.25;
    font-family: "Roboto", sans-serif;
}

.font-1-xxl {
    font-size: 4rem;
    line-height: 1.125; /* 72px/64px */
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    /* atalho > font: 600 4rem/1.125 "poppins", sans-serif*/
}
